.att-sltd ul{ display: block;top: 98.8%;left: 0%; width: 100%;}
/*.type_head_drop{ min-width: 30%; display: block;}*/
.att-sltd li{ border-bottom: 1px solid #83c341 ;font-size: 18px; margin-left: 0px; margin-right: 0px;}
.image-t img{ width: 64}
.result-name{ padding: 15px 0 !important; font-size: 15px; color:#747474 ;}
.search_details{font-size: 15px; color:#747474 ;padding: 15px 0 !important;}
.type_head_drop{ position: absolute; width: 105%!important;z-index: 999999999; width: 110%;padding-left: 0px!important; padding-right: 0px!important;}
.type_head_drop li{ cursor: pointer;}
.checkbox-style{padding: 15px;};
.att-sltd ul li{border-bottom: 0px!important; font-size: 12px;}
.multi-item{padding-top: 5px; margin-left: 0px!important;}
.size{font-size: 36px; color: rgba(0, 128, 0, 0.57);}
.position{margin-top: 10px;margin-left: -26px;}
.pad{padding-left: 0px!important; padding-right: 0px!important;}