<div>
    <div [formGroup]="parentGroup" *ngIf="!multiple">
        <div class="att-sltd" *ngIf="tempList.length>0">
            <ul>
                <li *ngFor="let item of tempList">
                    <p>{{item.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="item.isNew" (click)="save(item)" class="btn btn-default">Add Item</span></p>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div [ngClass]="{'has-error': (!parentGroup.controls[display].valid && parentGroup.controls[display].touched)}">
            <input class="form-control" display="text" formControlName="{{display}}" (keyup)="typed($event.target.value)">
        </div>
        <span *ngIf="parentGroup.controls[display].hasError('required') && parentGroup.controls[display].touched" class="help-block sub-little-text"> {{display}} is required</span>
    </div>
    <ul *ngIf="items.length>0 && !multiple" class="dropdown-menu type_head_drop">
        <li *ngFor="let item of items">
            <div class="row" (click)="getDetail(item)">
                <div class="col-md-2 image-t">
                    <img *ngIf="item.image" src="{{item.image['120X175']}}" alt="">
                    <img *ngIf="item.logo" src="{{item.logo['120X175']}}" alt="">
                </div>
                <div class="col-md-6">
                    <div class="result-name">
                        {{item[display]}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div [formGroup]="parentGroup" *ngIf="multiple">
        <div class="att-sltd" *ngIf="tempList.length>0">
            <ul>
                <li *ngFor="let item of tempList">
                    <p>{{item.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="item.isNew" (click)="save(item)" class="btn btn-default">Add Item</span></p>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div [ngClass]="{'has-error': (!parentGroup.controls[display].valid && parentGroup.controls[display].touched)}">
            <input class="form-control" display="text" formControlName="{{display}}" (keyup)="typed($event.target.value)"
                (keyup.enter)="setNew($event.target.value)">
        </div>
        <span *ngIf="parentGroup.controls[display].hasError('required') && parentGroup.controls[display].touched" class="help-block sub-little-text"> {{display}} is required</span>
    </div>
    <ul *ngIf="items.length>0 && multiple" class="dropdown-menu type_head_drop">
        <li *ngFor="let item of newItemList; let i=index">
            <div class="row">
                <div class="col-md-12">
                    <div class="multi-item" (click)="getItem(item, i)">
                        {{item[display]}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>