<div class="picture-head">
  <div class="picture-left">
    <div class="picture-group" [ngClass]="{uploading: uploadInProgress}">
      <div class="picture-wrapper" (click)="bringFileSelector();">
        <img src="{{ picture }}" *ngIf="picture">
        <img src="{{ defaultPicture }}" *ngIf="!picture && defaultPicture">

        <div class="loading" *ngIf="uploadInProgress">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
      <i class="ion-ios-close-outline" (click)="removePicture();" *ngIf="picture"></i>
      <a href class="change-picture" (click)="bringFileSelector();">Change Picture(Size:300X450px)</a>
      <input #fileUpload type="file" hidden="true" id="uploadFile" (change)="fileChangeEvent($event)" />
    </div>
  </div>
  <div class="picture-right">
    <ul>
      <li *ngFor="let error of errors">
        <p style="color:red">{{error.title}}</p><p>{{error.message}}<p>
      </li>
    </ul>
  </div>
</div>